*
!.gitignore
!README.md

!cfg/
!cfg/overrides/
!cfg/overrides/*
!custom/
!custom/mastercomfig-high-preset.vpk
!custom/customsounds/
!custom/customsounds/sound/
!custom/customsounds/sound/ui
!custom/customsounds/sound/ui/*
!custom/no_explosion_smoke.vpk
